
.foods-container {
  .Ingredients {
    display: flex;

    .meatType {
      flex: 0 0 200px;

      .title {
        text-align: center;
        font-size: 16px;
        width: 164px;
        height: 56px;
        line-height: 56px;
        background-color: #fff0d2;
        border-radius: 4px;
      }
    }

    .meatList {
      .el-col {
        cursor: pointer;
        margin-bottom: 15px;
      }

      .grid-content {
        img {
          width: 56px;
          height: 56px;
        }

        p {
          text-align: center;
        }
      }
    }
  }
}

.foodsDetail-container {
  
  .foods-list {
    display: flex;
    flex-direction: column;

    .foods-item {
      cursor: pointer;
      display: flex;

      .desc-img {
        flex: 0 0 102px;
        margin-right: 15px;

        img {
          width: 100%;
        }
      }

      .desc-good {
        .name {
          font-weight: bold;
        }
        .type {
          color: #666666;
          span {
            color: #333333;
          }
        }
        .desc {
          color: #666666;
        }
      }
    }
  }
  .classifiy {
    .el-tabs--border-card {
      border: none;
      box-shadow: none;
      .el-tabs__header {
        background: none !important;
        border: none;
        .el-tabs__item.is-active {    
          border: none;
          color: #333333;
          font-size: 14px;
          font-weight: bold;
        }
        .el-tabs__item {
          transition: none;
          &:first-child {
            border-right: 1px solid #DCDFE6;
          }
          &:hover {
            color: #333333;
          }
        }
      }
    }
  }
}