.foraging-container {
  font-weight: normal;
  .foraging-hei{
    color: #262626;
    font-weight: normal;
    font-stretch: normal;
  }
  .foraging-city {
    // border: solid red 1px;
    position: relative;
    i {
      -moz-transition: all 0.3s;
      -moz-transform: rotate(0deg);
      -webkit-transition: all 0.3s;
      -webkit-transform: rotate(0deg);
      &.shoewRotate1 {
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
    .selectCity-list {
      max-width: 460px;
      // border: solid blue 1px;
      -moz-box-shadow: 1px 1px 4px #999999;
      -webkit-box-shadow: 1px 1px 4px #999999;
      box-shadow: 1px 1px 4px #999999; /* 阴影 */
      position: absolute;
      top: 30px;
      left: 65px;
      min-height: 100px;
      // border: solid blue 1px;
      border-radius: 10px;
      -webkit-animation-duration: 1s; /*动画持续时间*/
      -webkit-animation-iteration-count: 1; /*动画次数*/
      -webkit-animation-delay: 0s; /*延迟时间*/
      animation-fill-mode: forwards; //规定当动画不播放时（当动画完成时，或当动画有一个延迟未开始播放时），要应用到元素的样式。
    }
  }
  .cate-itme{
      background-color: #fff;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.08);
      border-radius: 0px 0px 16px 16px;
  }
}
.foragingDetail-container{
  .caCollection{
    padding: 16px 0;
    border-bottom: solid #dcdcdc 1px;
    .caCollection-but{
      padding: 5px 10px;
      font-size: 15px;
    }
  }
  .mainBody{
    padding: 20px 0;
  }
  .mainBody img{
    margin: 10px 0;
    width: 100%;
  }
  .bor-us5{
    border-radius: 5px;
  }
}
