.index-container{
	// 轮播图
	.swiper-container{
		width: 100%;
		min-width: 1024px;
		.swiper-pagination-bullet-active{
			background-color: #ffb800;
		}
		.swiper-button-prev{
			width: 30px;
			height: 30px;
			left: 50px;
			border-radius: 50%;
			background-size: 50% 50%;
			background-color: #474747;
			opacity: 0.7;
		}
		.swiper-button-next{
			width: 30px;
			height: 30px;
			right: 50px;
			border-radius: 50%;
			background-size: 50% 50%;
			background-color: #474747;
			opacity: 0.7;
		}
	}
}