.menu-container {
  .menu-header {
    .lookAll {
      display: block;
      text-align: center;
      line-height: 50px;
      color: #5188a6;
    }
    .boutiqueList {
      ul {
        li {
          .img {
            width: 220px;
            height: 220px;
          }
          p {
            font-size: 15px;
            line-height: 32px;
          }
        }
      }
    }
    .con-table {
      .type-row{
         border-bottom: 1px solid #dcdcdc;
         display: flex;
         font-size: 14px;
         padding: 12px 0;
         position: relative;
         .height-auto{
             height: auto !important;
         }
         .select-right{
             margin-right: 16px;
         }
         .type-row-tit {
             font-weight: bold;
             color: #333333;
             margin-right: 24px;
             width: 60px;
             text-align: right;
             line-height: 31px;
         }
         .product-type{
              line-height: 32px !important;
          }
         ul, ol {
             display: flex;
             flex-wrap: wrap;
             align-items: center;
             color: #7D7D7D;
             width: 90%;
             height: 31px;
             overflow: hidden;
             span {
                 margin: 3px 15px 3px 0;
                 padding: 2px 5px;
                 display: inline-block;
                 cursor: pointer;
             }
         }
         .active {
             background: #000;
             color: #fff;
         }
         .more{
              position: absolute;
              top: 15px;
              right: 0;
              cursor: pointer;
              .icon-arrow{
                  display: inline-block;
                  width: 16px;
                  height: 16px;
              }
              .arrow-top{
                  background: url(../images/arrow_top.png) no-repeat 0 0;
                  background-size: cover; 
              }
              .arrow-bottom{
                  background: url(../images/arrow_bottom.png) no-repeat 0 0;
                  background-size: cover; 
              }
         }
      }
  }
}
}